// app global css in SCSS form
/*
.small-screen-only 
  @media (max-width: $breakpoint-xs-max)
    display: block
  @media (max-width: $breakpoint-xm-min)
    display: none

 .large-screen-only
  @media (max-width: $breakpoint-xs-max)
   display: none
  @media (max-width: $breakpoint-xm-min)
    display: none 
*/
